
/* Definitions */

$brand_background: #009688;

.site-title {

}

.top {
  padding-bottom: 2rem;
  margin-bottom: 2rem;

  h5 {
    text-align: center;
  }
}

.bright {
  padding-top: 2rem;
  $color: transparentize($brand_background, 0.1);
  background: linear-gradient($color, $color),
              white url(../img/bg.jpg) center/cover;

  h1, h2, h3, h4, h5, h6, p {
    color: white;
  }

  a {
    color: white;
  }

}

.intro {
  font-size: 2rem;
}

h1, h2, h3, h4, h5 {
  a {
    text-decoration: none;
  }
}

.highlight {
  margin: none;
  padding: none;
}

pre:first-child {
  margin-top: 0;
}

.post-meta {
  margin: 0;
  font-size: 1.8rem;
  text-align: right;
  line-height: 4rem;

}

img {
  max-width: 100%;
}