/* Font Stack */

body {
  font-family: 'Gentium Basic', serif;
  font-size: 16px;
}

h1,h2,h3,h4,h5,h6 {
  font-style: italic;
}

pre, code {
  font-family: 'Inconsolata', monospace;
}

.codeexample code {
  font-size: 14px;
}