<!DOCTYPE html>
<html>
{% include head.html %}
<body>
  {% include header.html %}
  <header>
    <div class="section post-head">

      <div class="container">

        <div class="eight columns">
          <h1 class="post-title">{{ page.title }}</h1>
        </div>
        <div class="four columns">
          {% if page.author %}
          <p class="post-meta">{{ page.author }}
          (<a href="{{ page.author_url }}">{{page.author_id}}</a>)</p>
          {% endif %}
          <p class="post-meta">{{ page.date | date: "%b %-d, %Y" }}</p>
        </div>
      </div>
    </div>
  </header>

  <article>
    <div class="section post-content">
      <div class="container">
        <div class="twelve columns">
          {{ content }}
        </div>
      </div>
    </div>
  </article>

</div>
</body>
</html>